<!-- viewByID.html -->
<div class="text-center">
    <h1>Home Page</h1>

    <p>{{ message }}</p>
    <br />

    <div class='container'>
        <div class='col-md-10 col-md-offset-1'>
            <table class='table table-bordered table-hover' >
                <tr>
                    <th class="text-center info">제목</th>
                    <td>{{result.title}}</td>
                </tr>
                <tr>
                    <th class="text-center info">작성자</th>
                    <td>{{result.id}}</td>
                </tr>
                <tr>
                    <th class="text-center info">내용</th>
                    <td ng-bind-html='result.content | nl2br'></td>
                </tr>
                <tr>
                    <th class="text-center info">날짜</th>
                    <td>{{result.date | date : 'yyyy-M-d HH:mm:ss'}}</td>
                </tr>
            </table>
        </div>
    </div>

    <div class='row'>
        <div class='col-md-1 col-md-offset-8'>
            <a href='#/update/{{result._id}}' class="btn btn-primary">수정</a>
            <button type='button' class='btn btn-primary' ng-click='removeByID()'>삭제</button>
        </div>
    </div>
</div>