<!--index.html -->

<!DOCTYPE html>
<html ng-app='bulletinModule'>
<head>
    <title></title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<script src="//ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
    <link rel="stylesheet" href="stylesheets/bootstrap.min.css">
    <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-glyphicons.css">
 	<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
 	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.25/angular.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.25/angular-route.js"></script>
    <script src="javascripts/control.js"></script>
</head>
<body>
	<header>
        <div class="container">
            <ul class="nav nav-tabs">
                <li><a href="#/" data-toggle="tab">Home</a></li>
                <li><a href="#/write" data-toggle="tab">글쓰기</a></li>
            </ul>
         </div>
 	</header>

 	<div>
 		<div ng-view></div>
 	</div>

</body>
</html> 